@charset "UTF-8" ;

.hero {
    height: 46rem;
    position: relative;

    overflow: hidden;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   /* inset: 0; */
    background:linear-gradient(0deg, #0000003d, #000000a8);
    z-index: 5;
}

.hero figure {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgb(162, 0, 255);

    animation: reveal-ani 2s infinite;
}

.hero img{
    object-position: 50% 10%; /* obp */
}

.hero .inner {
    position: relative;
    height: 100%;
    z-index: 10;
}

.visual-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

     color: #fff;

     width: 69rem;
}

.visual-title h2 strong {
    color: var(--main-color);
}

.visual-title h2{
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.2;
    text-transform: uppercase; /* ttu 대문자로 표시 */

}

.visual-title p {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 2.4rem;
}

.visual-title .cta {
 display: flex;
align-items: center;
justify-content: center;

 width: 20rem;
 height: 4.8rem;

 background: var(--main-color);
 font-weight: 700;
 font-size: 1.6rem;
 line-height: 1.5;

 margin-top: 3.2rem;

 transition: 0.4s;
}

.visual-title .cta:hover {
    background: var(--main-dark);
    color: #fff;
}

